@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f5f5f1;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

header {
  background-color: #6a6aff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 30px 20px;
  z-index: 5;
}

.footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.main__content1 {
  background: url(../assets/Images/potrerodelosfunes1.webp);
  background-position: center;
  background-size: cover;
  height: 450px;
}
.main__content1 .main__content1-div2--img1 {
  position: relative;
  margin-top: 25px;
  margin-left: 0px;
  z-index: 1;
  border: 3px solid #090909;
  border-radius: 10px;
}
.main__content1 .main__content1-div2--img2 {
  position: relative;
  margin-top: 150px;
  margin-left: -25px;
  z-index: 0;
  border: 3px solid #090909;
  border-radius: 10px;
}
.main__content1 .main__content1-div2--img3 {
  position: relative;
  margin-top: 25px;
  margin-left: -25px;
  z-index: 1;
  border: 3px solid #090909;
  border-radius: 10px;
}
.main__content1 .main__content1-div2--img4 {
  position: relative;
  margin-top: 150px;
  margin-left: -25px;
  border: 3px solid #090909;
  border-radius: 10px;
}

.button1 {
  background-color: cornflowerblue;
}

.button1:hover {
  background-color: antiquewhite;
}

.main__section1 {
  display: grid;
  margin-top: 20px;
  margin-left: 20px;
}

.main__section2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.main__section2 .main__section2-div1, .main__section2 .main__section2-div3, .main__section2 .main__section2-div2 {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.2);
}
.main__section2 .main__section2-div1 .main__section2-div1--tittle, .main__section2 .main__section2-div3 .main__section2-div1--tittle, .main__section2 .main__section2-div2 .main__section2-div1--tittle {
  margin-bottom: 20px;
}
.main__section2 .main__section2-div2 .main__section2-div2--tittle {
  margin-bottom: 20px;
}
.main__section2 .main__section2-div3 .main__section2-div3--tittle {
  margin-bottom: 20px;
}

.main__section2-div2--img1 {
  margin-top: 44px;
}

.main__section2-div2--img2 {
  margin-top: 50px;
}

.main__section2-div2--img3 {
  margin-top: 65px;
}

.section_tittle {
  margin: 20px;
}

.section__comollegar {
  display: flex;
  justify-content: space-between;
}

.div_maps {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}

.div_maps-img {
  -webkit-margin-end: 300px;
          margin-inline-end: 300px;
}

.button2 {
  background-color: cornflowerblue;
}

.button1:hover {
  background-color: antiquewhite;
}

@media screen and (max-width: 1224px) and (min-width: 768px) {
  .main__content1-div2--img1 {
    display: none;
  }
  .main__content1-div2--img2 {
    display: none;
  }
  .main__content1-div2--img3 {
    display: none;
  }
  .main__content1-div2--img4 {
    display: none;
  }
  /* COMO LLAGAR */
  .div_maps-img {
    display: none;
  }
  .div_maps {
    margin: auto;
    width: 760px;
    margin-bottom: 35px;
    margin-top: 35px;
  }
}
@media screen and (max-width: 768px) and (min-width: 708px) {
  .main__content1-div2--img1 {
    display: none;
  }
  .main__content1-div2--img2 {
    display: none;
  }
  .main__content1-div2--img3 {
    display: none;
  }
  .main__content1-div2--img4 {
    display: none;
  }
  /* PROMOCIONES */
  .main__section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .main__section2-div1, .main__section2 .main__section2-div2, .main__section2 .main__section2-div3 {
    margin-bottom: 35px;
  }
  .main__section2-div2 {
    margin-bottom: 35px;
  }
  .main__section2-div3 {
    margin-bottom: 35px;
  }
  /* COMO LLEGAR */
  .div_maps-img {
    display: none;
  }
  .div_maps {
    margin: auto;
    width: 760px;
    margin-bottom: 35px;
    margin-top: 35px;
  }
}
@media screen and (max-width: 708px) and (min-width: 320px) {
  .main__content1 {
    background-image: none;
  }
  .main__content1-div2 {
    display: none;
  }
  .main__content2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
  .main__content2-div1 {
    margin-top: 35px;
  }
  .main__content2-div2 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  /*PROMOCIONES*/
  .main__section2 {
    display: grid;
  }
  .main__section2-div1, .main__section2 .main__section2-div2, .main__section2 .main__section2-div3 {
    margin-top: 35px;
  }
  .main__section2-div2 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .main__section2-div3 {
    margin-bottom: 35px;
  }
  /*COMO LLEGAR*/
  .section__comollegar {
    display: flex;
    justify-content: center;
  }
  .div_maps-img {
    display: none;
  }
  .div_maps {
    margin: auto;
    width: 350px;
    height: auto;
    margin-bottom: 35px;
    margin-top: 35px;
  }
}
@media screen and (max-width: 320px) {
  .main__content1 {
    background-image: none;
  }
  .main__content1-div2 {
    display: none;
  }
  .main__content2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
  .main__content2-div1 {
    margin-top: 35px;
    width: 280px;
  }
  .main__content2-div2 {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 280px;
  }
  /*PROMOCIONES*/
  .main__section2 {
    display: grid;
  }
  .main__section2-div1, .main__section2 .main__section2-div2, .main__section2 .main__section2-div3 {
    margin-top: 35px;
    width: 280px;
  }
  .main__section2-div2 {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 280px;
  }
  .main__section2-div3 {
    margin-bottom: 35px;
    width: 280px;
  }
  /*COMO LLEGAR*/
  .section__comollegar {
    display: flex;
    justify-content: start;
  }
  .div_maps-img {
    display: none;
  }
  .div_maps {
    margin: 0;
    width: 100%;
    height: auto;
    margin-bottom: 35px;
    margin-top: 35px;
  }
}/*# sourceMappingURL=estilo.css.map */