.section_tittle {
    margin: 20px;
}
.section__comollegar {
    display: flex;
    justify-content: space-between;
}
.div_maps {
    display: flex;
    justify-content: start;
    margin-left: 20px;
}
.div_maps-img {
    margin-inline-end: 300px;
}