.footer {
    width: 100%;
    height: 100px; 
    position: absolute;
    bottom: 0;
}

$redes: (
    facebook: blue,
    instagram: pink,
    whatsapp: green,
);
.facebook {
    background-color: blue;
}
.instagram {
    background-color: pink;
}
.whatsapp {
    background-color: green;
}

.tarjethouse {
    background-color: map-get($map:$redes , $key:instagram );
}